<a id="transfer" href="#" class="card education">
     <div class="overlay"></div>
  <div class="circle">
      <p>طلبات العروض</p>
</div>
</a>
<a id="report" href="#" class="card human-resources">
    <div class="overlay"></div>
    <div class="circle">
        <p>تقرير</p>
   </div>
</a>
