<a id="count" href="/count" class="card education">
     <div class="overlay"></div>
  <div class="circle">
      <p>طلب جرد</p>
</div>
</a>
<a id="openReq" href="/open-request" class="card credentialing">
     <div class="overlay"></div>
  <div class="circle">
      <p>السمح باجراء طلبية</p>
</div>
</a>
<!-- <a id="transfer" href="#" class="card wallet">
     <div class="overlay"></div>
  <div class="circle">
      <p>تحويل بين المستودعات
      </p>
</div>
</a>
<a id="return" href="#" class="card human-resources" style="display: none;">
     <div class="overlay"></div>
     <div class="circle">
         <p>ارجاع الى مورد</p>
    </div>
</a> -->
