<div id="demo-modal" class="modal">
  <div class="modal__content">
    <div class="modal_notes_container" style="display: none">
      <div class="netError_container" style="height: 100%; width: 100%">
        <div class="netError_Content" id="netError_Popup">
          <textarea
            id="textArea"
            style="
              position: absolute;
              text-align: right;
              height: 50%;
              width: 90%;
              left: 5%;
              top: 10%;
              border: solid;
            "
            placeholder="اضف ملاحظة"
            rows="5"
            cols="50"
          ></textarea>
          <div class="netError_btu">
            <button class="closeAdd_btu">Close</button>
            <button class="add_btu">Continue</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal_spinner_container" style="display: none">
        <div class="netError_container" style="height: 100%; width: 100%">
          <div class="netError_Content" id="netError_Popup">
            <div id="modal-spinner">
                <div class="lds-ring">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal_notAllowed_container" style="display:none;">
        <div class="success_container" style="height: 100%;width: 100%;">
          <p class="failed-p" style="font-size:40px;text-align:right;margin-right: 15px;">لا يوجد اتصال بالانترنت, الرجاء اعادة المحاولة</p>
        </div>
      </div>
  </div>
</div>
