<div>
    <a style="color: white;" href="/transfer" id="goTransfer">press</a>
</div>
<div>
    <a style="color: white;" href="/" id="goLogin">press</a>
</div>
<div class="loadWrapper">
    <div class="loadCircle"></div>
    <div class="loadCircle"></div>
    <div class="loadCircle"></div>
    <div class="loadShadow"></div>
    <div class="loadShadow"></div>
    <div class="loadShadow"></div>
    <span>Loading</span>
</div>