.modal {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
  }

  
.modal-v {
    opacity: 1;
    z-index: 9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(77, 77, 77, .7);
    transition: all .4s;
  }

  .modal__content {
    opacity: 1;
    z-index: 9;
    border-radius: 4px;
    height: 40%;
    position: relative;
    width: 600px;
    max-width: 90%;
    background: #fff;
    padding: 1em 2em;
    box-shadow: #585858;
  }

  .modal_notes_container{
    height: 100%;
    width: 100%;
  }

  .netError_Content {
    position: relative;
    height: 100%;
    background-color: #fff;
    color: #000;
    text-align: center;
    border-radius: 20px;
  }

  .netError_btu{
    position: absolute;
    bottom: 0;
    right: 10%;
  }

  .netError_Content  button.closeAdd_btu {
    background-color: red;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px red;
  }

  .netError_Content  button.add_btu {
    background-color: green;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px green;
  }

  .modal_success_container{
    height: 100%;
    width: 100%;
}

.failed-p {
  font-size: 40px;
  position: absolute;
  top: 41%;
  color: red;
}